#ifndef MAIN_H
#define MAIN_H

#include <string>

#define HOST_NIC 894784 // host nic speed in pps
#define NSW NSW_SED	
#define NHOST NHOST_SED
#define OVERSUBSCRIPTION OVERSUBSCRIPTION_SED

// FAT
#define K K_SED

// TOPOLOGY NUMBERING
#define FAT 0
#define RRG 1
#define LEAFSPINE 2

// CHOSEN TOPOLOGY
#define CHOSEN_TOPO CHOSEN_TOPO_SED

#define SWITCH_BUFFER 100
#define RANDOM_BUFFER 3
#define FEEDER_BUFFER 100

#endif
